<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-3">
        <%= link_to root_path, class: 'logo' do %>
        <div class="circle">
          <br />
          They Say
          <br />
          It's The
          <br />
          Best Job
        </div>
        <% end %>
      </div>
      <div class="col-4 slogan">
        Splurting out unsolicited advice about parenting since 2016
      </div>
      <div class="col-5 links">
        <%= link_to 'Contribute', new_quote_path %>
        <%= link_to 'About', '#' %>
      </div>
    </header>

    <hr />

    <br class="clear" />
    <div class="container">
      <% if flash[:error].present? %>
        <div class="col-10 offset-1 alert alert-danger">
          <%= flash[:error].html_safe %>
        </div>
      <% end %>
    <%= yield %>
    </div>

     <footer class="footer">
      <div class="container">
        <div class="row">
            <div class="col-6">
              <%= link_to "This isn't enough, I need more!", root_path, class: 'next-quote' %>
            </div>
            <div class="col-6 footer-blurb">
              Proudly hacked in Silver Spring, MD by <a href="https://aritamana.com">Arit</a><br />
              Want to build your own Splurty Web App - <a href="http://thefirehoseproject.com">Learn how to code here</a>
            </div>
        </div>
      </div>
    </footer>

  </body>
</html>
