<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-2">
        <%= link_to root_path, class: 'logo' do %>
        <div class="circle">
          <br />
          They Say
          <br />
          It's The
          <br />
          Best Job
        </div>
        <% end %>
      </div>
      <div class="col-6 slogan">
        Splurting out unsolicited parenting challenges since 2018
      </div>
      <div class="col-4 links">
         <!-- Link to trigger modal -->
        <%= link_to 'Contribute', '#', data: {toggle: 'modal', target: '#myModal'} %>
        <%= link_to 'About', about_path %>
      </div>
    </header>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Contribute Your Quote</h4>
          </div>
          <div class="modal-body">
            <%= simple_form_for Quote.new do |f| %>
              <%= f.input :saying %>
              <%= f.input :author %>
              <br />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <%= f.submit 'Create', class: 'btn btn-danger' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <hr />

    <br class="clear" />
    <div class="container">
      <% if flash[:error].present? %>
        <div class="col-10 offset-1 alert alert-danger">
          <%= flash[:error].html_safe %>
        </div>
      <% end %>
    <%= yield %>
    </div>

     <footer class="footer">
      <div class="container">
        <div class="row">
            <div class="col-6">
              <%= link_to "Show Me More!", root_path, class: 'next-quote' %>
            </div>
            <div class="col-6 footer-blurb">
              Proudly hacked in Silver Spring, MD by <a href="https://aritamana.com">Arit</a><br />
              Want to build your own Splurty Web App? <a href="http://thefirehoseproject.com">Learn how to code here</a>
            </div>
        </div>
      </div>
    </footer>

  </body>
</html>
